*.o
*.err
*.log
valgrind.txt
taliesin.conf
taliesin
data_source_browse_category
data_source_browse_path
data_source_crud
data_source_create_test_environment
data_source_delete_test_environment
data_source_refresh
playlist_crud
search_advanced
search_simple
stream_jukebox
stream_webradio
webapp-react
config
test/media/
webapp-src/public/config.json
