{
  "taliesinApiUrl": "https://taliesin.url/api",
  "angharadApiUrl": "https://angharad.url/api/",
	"storageType": "local", 
  "oauth2Config": {
    "storageType": "local", 
    "responseType": "code", 
    "serverUrl": "https://glewlwyd.url/api", 
    "authUrl": "auth", 
    "tokenUrl": "token", 
    "clientId": "taliesin", 
    "redirectUri": "https://client.url/", 
    "scope": "taliesin taliesin_admin angharad g_profile",
		"profileUrl": "profile"
  }
}
