body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.hideOverflow
{
	text-align: center;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	width:132ps;
	display:block;
}

.large-label
{
	overflow:hidden;
	text-overflow:ellipsis;
}

.elementImage
{
	max-width: 100px;
	max-height: 100px;
	margin:0 auto;
}

.footer {
	margin-bottom: 0px !important;
	background-color: whitesmoke;
	vertical-align: middle;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.cover-image-full
{
	max-height: 400px;
	max-width: 400px;
}

.cover-image-thumb
{
	max-height: 100px;
	max-width: 100px;
}

.scroll-left {
 height: 25px;
 overflow: hidden;
 position: relative;
}

.scroll-left span {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 25px;
 text-align: center;
 text-shadow: 1px 1px #ffffff;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
 /* Apply animation to this element */	
 -moz-animation: scroll-left 15s linear infinite;
 -webkit-animation: scroll-left 15s linear infinite;
 animation: scroll-left 15s linear infinite;
}

/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%	 { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}

@-webkit-keyframes scroll-left {
 0%	 { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}

@keyframes scroll-left {
 0%	 { 
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%); 
 }
}

.cover-panel
{
	border: 0px !important;
	background-color: transparent !important;
}

.media-container
{
	position:relative;
}

.media-content label
{
	width: 100%;
	text-align: center;
	text-shadow: 2px 2px #ffffff;
}

.player-box
{
	height: 110px;
}

.stream-selector
{
	max-width: 70px;
}

.main-screen
{
	padding-bottom: 500px;
}

.breadcrumb-buttons
{
	width: 100px;
}

.media-background-fullscreen
{
	background: center;
	background-size: 100%;
	background-position: center center;
	filter: blur(5px);
	position:absolute;
	width: 100%;
	height: 100%;
	z-index: -100;
}

.fullscreen
{
	background-color: whitesmoke;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:10000;
}

.text-fullscreen
{
	color: #ffffff;
	text-shadow: 1px 1px #000000;
}

.anchor-fullscreen
{
	text-shadow: 1px 1px #000000;
}

.row-media:hover
{
	background-color: whitesmoke;
}

.dashboard-list
{
	margin-top: 0px !important;
}

.space-after
{
	margin-right: 5px;
}

.space-before
{
	margin-left: 5px;
}

.dropdown-menu-center ul
{
	right: auto;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}

/* Styles for React Tags*/
div.ReactTags__tags {
		position: relative;
}

/* Styles for the input */
div.ReactTags__tagInput {
		width: 200px;
		border-radius: 2px;
		display: inline-block;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
		height: 31px;
		margin: 0;
		font-size: 12px;
		width: 100%;
		border: 1px solid #eee;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
		border: 1px solid #ddd;
		background: #eee;
		font-size: 12px;
		display: inline-block;
		padding: 5px;
		margin: 0 5px;
		cursor: move;
		border-radius: 2px;
}
div.ReactTags__selected a.ReactTags__remove {
		color: #aaa;
		margin-left: 5px;
		cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
		position: absolute;
}
div.ReactTags__suggestions ul {
		list-style-type: none;
		box-shadow: .05em .01em .5em rgba(0,0,0,.2);
		background: white;
		width: 200px;
}
div.ReactTags__suggestions li {
		border-bottom: 1px solid #ddd;
		padding: 5px 10px;
		margin: 0;
}
div.ReactTags__suggestions li mark {
		text-decoration: underline;
		background: none;
		font-weight: 600;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
		background: #b7cfe0;
		cursor: pointer;
}
