#
#
#  Taliesin - Media server
#
# Copyright 2017-2022 Nicolas Mora <mail@babelouest.org>
# Gnu Public License V3 <http://fsf.org/>
#
#

# port to open for remote commands
port=8576

# api_prefix
api_prefix="api"

# Taliesin http server
server_remote_address = "http://localhost:8576/"

# path to static files to access webapp
app_files_path="/usr/share/taliesin/webapp"

# access-control-allow-origin value
allow_origin="*"

# log mode (console, syslog, file)
log_mode="file"

# log level: NONE, ERROR, WARNING, INFO, DEBUG
log_level="INFO"

# output to log file (required if log_mode is file)
log_file="/tmp/taliesin.log"

# what userinfo and access token claim should be used to identify the user, default sub
oidc_claim_user_id="sub"

# scopes required
oauth_scope_user="taliesin"
oauth_scope_admin="taliesin_admin"

# TLS/SSL configuration values
use_secure_connection=false
secure_connection_key_file="/usr/etc/taliesin/cert.key"
secure_connection_pem_file="/usr/etc/taliesin/cert.pem"

# MariaDB/Mysql database connection
#database =
#{
#  type = "mariadb";
#  host = "localhost";
#  user = "taliesin";
#  password = "taliesin";
#  dbname = "taliesin";
#  port = 0;
#};

# SQLite database connection
database =
{
   type               = "sqlite3";
   path               = "/var/cache/taliesin/taliesin.db";
};

# security parameters
user_can_create_data_source = false # default false, only administrator can create data_source
use_oidc_authentication     = false # default true, on false no authentication is required and all users are admin

# streaming default parameters
stream_format      = "mp3"   # use values 'mp3', 'vorbis' or 'flac'
stream_channels    = 2       # use values 1 or 2
stream_sample_rate = 44100   # use values 8000, 11025, 22050, 32000, 44100 or 48000
stream_bitrate     = 128000  # use values 32000, 96000, 128000, 192000, 256000 or 320000
timeout            = 20      # timeout in seconds to automatically disconnect idle streams

# oidc parameters
# either server_remote_config or server_public_jwks is mandatory
oidc =
{
#  server_remote_config = "https://glewlwyd.tld/api/oidc/.well-known/openid-configuration"
#  server_remote_config_verify_cert = true     # optional, default true
#  server_public_jwks = "/path/to/public.jwks"
#  iss = "https://glewlwyd.tld/"               # optional, but recommended
#  realm = "taliesin"                          # optional
#  aud = "me"                                  # optional
#  dpop_max_iat = 60                           # optional, default 0 (disabled)
}

# icecast parameters
# if set, an icecast server can be used to provide the http stream
icecast =
{
  host = "127.0.0.1"
  port = 8000
  user = "source"
  password = "hackme"
  mount_prefix = "taliesin"
  remote_address = "http://127.0.0.1:8000/"
}

# mime types for webapp files
app_files_mime_types =
(
  {
    extension = ".html"
    mime_type = "text/html"
    compress = 1
  },
  {
    extension = ".css"
    mime_type = "text/css"
    compress = 1
  },
  {
    extension = ".js"
    mime_type = "application/javascript"
    compress = 1
  },
  {
    extension = ".json"
    mime_type = "application/json"
    compress = 1
  },
  {
    extension = ".png"
    mime_type = "image/png"
    compress = 0
  },
  {
    extension = ".jpg"
    mime_type = "image/jpeg"
    compress = 0
  },
  {
    extension = ".jpeg"
    mime_type = "image/jpeg"
    compress = 0
  },
  {
    extension = ".ttf"
    mime_type = "font/ttf"
    compress = 0
  },
  {
    extension = ".woff"
    mime_type = "font/woff"
    compress = 0
  },
  {
    extension = ".woff2"
    mime_type = "font/woff2"
    compress = 0
  },
  {
    extension = ".otf"
    mime_type = "font/otf"
    compress = 0
  },
  {
    extension = ".eot"
    mime_type = "application/vnd.ms-fontobject"
    compress = 0
  },
  {
    extension = ".map"
    mime_type = "application/octet-stream"
    compress = 0
  },
  {
    extension = ".ico"
    mime_type = "image/x-icon"
    compress = 0
  }
)

audio_mime_types =
(
  {
    extension = ".mp3"
    mime_type = "audio/mpeg"
  },
  {
    extension = ".m4a"
    mime_type = "audio/aac"
  },
  {
    extension = ".aac"
    mime_type = "audio/aac"
  },
  {
    extension = ".ogg"
    mime_type = "audio/ogg"
  },
  {
    extension = ".oga"
    mime_type = "audio/ogg"
  },
  {
    extension = ".flac"
    mime_type = "audio/flac"
  },
  {
    extension = ".wav"
    mime_type = "audio/wav"
  },
  {
    extension = ".wma"
    mime_type = "video/x-ms-wma"
  },
  {
    extension = ".aif"
    mime_type = "audio/x-aiff"
  },
  {
    extension = ".aiff"
    mime_type = "audio/x-aiff"
  },
  {
    extension = ".ape"
    mime_type = "audio/x-monkeys-audio"
  },
  {
    extension = ".mpc"
    mime_type = "audio/x-musepack"
  },
  {
    extension = ".shn"
    mime_type = "application/x-shorten"
  },
  {
    extension = ".au"
    mime_type = "audio/x-au"
  }
)

video_mime_types =
(
  {
    extension = ".avi"
    mime_type = "video/x-msvideo"
  },
  {
    extension = ".mpg"
    mime_type = "video/mpeg"
  },
  {
    extension = ".webm"
    mime_type = "video/webm"
  },
  {
    extension = ".mpeg"
    mime_type = "video/mpeg"
  },
  {
    extension = ".mp4"
    mime_type = "video/mp4"
  },
  {
    extension = ".m4v"
    mime_type = "video/x-m4v"
  },
  {
    extension = ".mov"
    mime_type = "video/quicktime"
  },
  {
    extension = ".wmv"
    mime_type = "video/x-ms-wmv"
  },
  {
    extension = ".ogv"
    mime_type = "video/ogg"
  },
  {
    extension = ".divx"
    mime_type = "video/x-divx"
  },
  {
    extension = ".m2ts"
    mime_type = "video/mp2t"
  },
  {
    extension = ".mkv"
    mime_type = "video/x-matroska"
  },
  {
    extension = ".flv"
    mime_type = "video/x-flv"
  }
)

subtitle_mime_types =
(
  {
    extension = ".srt"
    mime_type = "text/plain"
  },
  {
    extension = ".ssa"
    mime_type = "text/plain"
  },
  {
    extension = ".vtt"
    mime_type = "text/plain"
  },
  {
    extension = ".sub"
    mime_type = "text/plain"
  },
  {
    extension = ".sbv"
    mime_type = "text/plain"
  }
)

image_mime_types =
(
  {
    extension = ".jpg"
    mime_type = "image/jpeg"
  },
  {
    extension = ".jpeg"
    mime_type = "image/jpeg"
  },
  {
    extension = ".png"
    mime_type = "image/png"
  },
  {
    extension = ".gif"
    mime_type = "image/gif"
  },
  {
    extension = ".bmp"
    mime_type = "image/bmp"
  }
)

image_cover_search_order =
(
  {
    file_name = "folder.jpg"
  },
  {
    file_name = "folder.jpeg"
  },
  {
    file_name = "cover.jpg"
  },
  {
    file_name = "cover.jpeg"
  },
  {
    file_name = "front.jpg"
  },
  {
    file_name = "front.jpeg"
  },
  {
    file_name = "*.jpg"
  },
  {
    file_name = "*.jpeg"
  },
  {
    file_name = "*.gif"
  },
  {
    file_name = "*.png"
  }
)
