#
#
#  Taliesin - Media server
#
# Copyright 2017-2018 Nicolas Mora <mail@babelouest.org>
# Gnu Public License V3 <http://fsf.org/>
#
#

# port to open for remote commands
port=8576

# api_prefix
api_prefix="api"

# Taliesin http server
server_remote_address = "http://localhost:8576/"

# path to static files to access webapp
app_files_path="/usr/share/taliesin/webapp"

# mime types for webapp files
app_files_mime_types =
(
  {
    extension = ".html"
    type = "text/html"
  },
  {
    extension = ".css"
    type = "text/css"
  },
  {
    extension = ".js"
    type = "application/javascript"
  },
  {
    extension = ".png"
    type = "image/png"
  },
  {
    extension = ".jpg"
    type = "image/jpeg"
  },
  {
    extension = ".jpeg"
    type = "image/jpeg"
  },
  {
    extension = ".ttf"
    type = "font/ttf"
  },
  {
    extension = ".woff"
    type = "font/woff"
  },
  {
    extension = ".woff2"
    type = "font/woff2"
  },
  {
    extension = ".map"
    type = "application/octet-stream"
  },
  {
    extension = ".json"
    type = "text/json"
  },
  {
    extension = ".ico"
    type = "image/x-icon"
  }
)

# access-control-allow-origin value
allow_origin="*"

# log mode (console, syslog, file)
log_mode="file"

# log level: NONE, ERROR, WARNING, INFO, DEBUG
log_level="INFO"

# output to log file (required if log_mode is file)
log_file="/tmp/taliesin.log"

# scopes required
oauth_scope_user="taliesin"
oauth_scope_admin="taliesin_admin"

# TLS/SSL configuration values
use_secure_connection=false
secure_connection_key_file="/usr/etc/taliesin/cert.key"
secure_connection_pem_file="/usr/etc/taliesin/cert.pem"

# MariaDB/Mysql database connection
#database =
#{
#  type = "mariadb";
#  host = "localhost";
#  user = "taliesin";
#  password = "taliesin";
#  dbname = "taliesin";
#  port = 0;
#};

# SQLite database connection
database =
{
   type               = "sqlite3";
   path               = "/var/cache/taliesin/taliesin.db";
};

# security parameters
user_can_create_data_source = false # default false, only administrator can create data_source
use_oauth2_authentication   = false # default false, on false, no authentication is required and all users have all the scopes, on true, an OAuth2 service is required for authentication, see https://github.com/babelouest/glewlwyd

# streaming default parameters
audio_format      = "mp3"   # use values 'mp3', 'vorbis' or 'flac'
audio_channels    = 2       # use values 1 or 2
audio_sample_rate = 44100   # use values 8000, 11025, 22050, 32000, 44100 or 48000
audio_bitrate     = 128000  # use values 32000, 96000, 128000, 192000, 256000 or 320000

video_format      = "webm"  # use values 'webm', 'h264'
video_bitrate     = 500000
video_width       = 0       # force video width, 0 means keep original width
video_height      = 0       # force video height, 0 means keep original height

# jwt parameters, these parameters correspond to the JWT configuration of the OAuth2 server you rely on, if necessary
jwt =
{
   key_size = 512
   
   use_rsa = true
   rsa_pub_file = "/usr/etc/taliesin/public-rsa.pem"
   
   use_ecdsa = false
   ecdsa_pub_file = "/usr/etc/taliesin/public-ecdsa.pem"
   
   use_sha = false
   sha_secret = "secret"
}
