{
	"taliesinApiUrl": "http://localhost:8576/api",
	"angharadApiUrl": "http://localhost:2473/api",
	"benoicPrefix": "benoic",
	"carleonPrefix": "carleon",
	"storageType": "local", 
	"useWebsocket": true,
	"oauth2Config": {
		"enabled": true,
		"storageType": "local", 
		"responseType": "code", 
		"serverUrl": "http://localhost:4593/api/oidc", 
		"authUrl": "http://localhost:4593/api/oidc/auth", 
		"tokenUrl": "http://localhost:4593/api/oidc/token", 
		"clientId": "taliesin", 
		"redirectUri": "http://localhost:8576/", 
		"scope": "taliesin taliesin_admin angharad",
		"userinfoUrl": "http://localhost:4593/api/oidc/userinfo"
	}
}
